*.cache
*.suo
*.cache
*.suo
*.cache
PatanHospital/bin/PatanHospital.dll
PatanHospital/bin/PatanHospital.dll
PatanHospital/bin/PatanHospital.dll
*.pdb
*.dll
*.suo
PatanHospital/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.suo